.region-selector-wrapper {
    background-color: #f9f9f9;
    padding: 8px;
    width: max-content;
    position: absolute;
    top: 10px;
    z-index: 100;
    right: 100px;
    border-radius: 5px;
    box-shadow: -3px 3px 10px rgb(173, 216, 230);
}