# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
.parcel-cache

# testing
/coverage

# production
/public*
/dist*
package-lock.json
*.zip
*.tar.gz

# keyfiles
/utils/*.txt
/utils/*.json

#misc
.vscode