.mpiTables-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    justify-content: space-evenly;
}

.mpiTables-button-container button {
    margin: 0 20px;
}

.pagination-bottom {
    height: 45px;
}

.tableInfo {
    text-align: right;
}

.mpiCall {
    text-align: left;
    font-weight: bold;
}

.buffInfoIcon {
    font-size: 18px;
    padding: 1px;
    vertical-align:text-bottom;
    margin-left: 3px;
}

.buffInfoIcon.correct {
    color: green;
}

.buffInfoIcon.question {
    color: orange;
}