.comBalance-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  height: 40px;
}

.comBalance-yScale-input {
  height: 20px;
  width: 90px;
}
.canvas{
  min-height: 500px;
}