.sidebar-header {
    color: white;
    background-color: var(--primary);
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
}

.sidebar-item.Mui-selected {
    background-color: rgba(173, 216, 230, 0.7);
}

.sidebar-item {
    padding-left: 6px;
    padding-right: 6px;
}

.sidebar-text {
    word-break: break-all;
}

.sidebar-parse-button {
    padding: auto;
    min-width: unset;
    padding: 10px 10px;
    margin: 2px;
    margin-right: 10px;
}

.sidebar-numberBox{
    width: 24px;
    height: 24px;
    font-weight: bold;
    color: gray;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-loaddata-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.unparsed {
    color: rgba(0, 0, 0, 0.54);
}

.sidebar-color-container {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 360px;
    box-sizing: border-box;
    padding: 20px;
    pointer-events: none; /* Make the container click-through */
}

.sidebar-color-container button {
    pointer-events: auto; /* Allow clicks on the buttons inside */
}

.display-sidebar-icon {
    position: absolute;
    top: 15px;
    z-index: 1000;
}

.fileNameBlock{
    position: absolute;
    top: 15px;
    left: 60px;
    padding: 15px;
}
